:root {
    --header-height: 80px;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    overflow-x: hidden;

}

.background {
    width: 100vw;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
}

.background img {
    width: 100vw;
    height: auto;
}

.background .logo_header {
    position: absolute;
    top: 15vh;
    left: 23vw;
}

.background .logo_header img {
    width: 50vw;
    height: auto;
}

.opening_text {
    background: #000;
    color: white;
    font-family: sans-serif;
    font-size: 120%;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.selectionbar {
    width: 100vw;
    height: 55px;
    background-color: #FADFE9;
    color: #000;
    font-family: sans-serif;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.image_clip {
    width: 100%;
    max-height: 150px;
    overflow-y: hidden;
    object-fit: cover;
}

.image_clip img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .35;
}


.film img:hover {
    width: 100%;
    height: auto;
    opacity: .55;

}

.content {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}


.content h1 {
    position: absolute;
    padding-left: 20px;
    top: 8px;
    left: 16px;
}

.date {
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
    position: absolute;
    padding-left: 20px;
    top: 36px;
    left: 16px;
    padding-top: 1%;
}

.price {
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
    position: absolute;
    padding-left: 20px;
    top: 56px;
    left: 16px;
    padding-top: 1%;

}


.content .readmore {
    font-family: sans-serif;
    color: #e6da1f;
    font-size: 20px;
    text-decoration: none;
    padding: 12px;
    border: 1px solid #e6da1f;
    position: absolute;
    bottom: 40px;
    right: 16px;
}

.content .readmore:hover {
    color: #000;
    background: #e6da1f;
}

.appbar {
    width: 100vw;
    height: var(--header-height);
    top: 0;
    left: 0;
}

.appbar,
.menu {
    background: #000;
    padding: 1em;
    position: fixed;
    z-index: 20;
}

.menu {
    top: var(--header-height);
    height: 100vh;
    width: 250px;
    transition: all 0.3s 0.3s;
    color: white;
    font-family: sans-serif;
}

.menu.hidden {
    transform: translateX(-100vw);
}

.menuIcon {
    height: 30px;
    margin-top: 10px;
    margin-left: 12px;
}

.menuIcon rect {
    fill: white;
    transition: all 0.6s;
}

.menuIcon rect:nth-child(1) {
    transform-origin: left top;
}

.menuIcon rect:nth-child(3) {
    transform-origin: left bottom;
}

.menuIcon rect.fadeOut {
    opacity: 0;
}

.menuIcon rect.rotateUp {
    transform: rotate(-45deg) translate(18px, 41px);
}

.menuIcon rect.rotateDown {
    transform: rotate(45deg) translate(17px, -14px);
}

.container-fluid {
    margin-top: 0;
    background-color: #000;
}

#filmlist {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0%;
    margin-right: 0%;
}

#singleFilm {
    transition: all 0.3s;
    transform: translateX(-100vw);
}

#singleFilm.slideInFilm {
    transform: translateX(0)
}


h1 {
    font-family: 'Avenir', sans-serif;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
}



@media (min-width: 1000px) {
    #filmlist {
        grid-template-columns: 1fr;
    }

}

@media (min-width: 1300px) {
    #filmlist {
        grid-template-columns: 1fr 1fr;
    }

}
