:root {
    --header-height: 80px;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    overflow-x: hidden;
}

.background {
    width: 100vw;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
}



#singleFilm {
    width: 100vw;
    height: auto;
    background: #fff;


    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

/*#singleFilm .left {
    width: 70vw;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

}

#singleFilm .right {
    width: 30vw;
    height: auto;
    background-color: #D8EBD2;
    display: flex;
    flex-direction: column;
    margin-left: 70vw;
    justify-content: center;
    align-items: center;
}*/

.poster {
    width: 70vw;
    height: auto;
    text-align: center;
    position: relative;
}


.logo {

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    justify-content: center;

}



.info {
    background-color: #D8EBD2;
    width: 30vw;
    height: 90vh;
    position: sticky;
    top: 9vh;

    /*
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
    z-index: 1;*/
}

.info .readmore {
    font-family: sans-serif;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    padding: 5%;
    border: 1px solid #000;
    position: absolute;
    margin-left: 10%;
    margin-top: 90%;

}

.info .readmore:hover {
    color: #000;
    background: #e6da1f;
}

iframe {
    position: absolute;
    margin-left: 10%;
    margin-top: 110%;
}



h1 {
    color: #000;
    padding-left: 5%;
    font-family: sans-serif;
    font-size: 2em;


}

.location {
    font-family: sans-serif;

    font-size: 20px;
    position: absolute;
    padding-left: 10%;
    padding-top: 5%;

}

.genre {
    font-family: sans-serif;

    font-size: 20px;
    position: absolute;
    padding-left: 10%;

    padding-top: 15%;

}

.date {
    font-family: sans-serif;

    font-size: 20px;
    position: absolute;
    padding-left: 10%;

    padding-top: 25%;

}

.weekday {
    font-family: sans-serif;

    font-size: 20px;
    position: absolute;
    padding-left: 10%;

    padding-top: 35%;

}

.time {
    font-family: sans-serif;

    font-size: 20px;
    position: absolute;
    padding-left: 10%;

    padding-top: 45%;

}

.doors {
    font-family: sans-serif;

    font-size: 20px;
    position: absolute;
    padding-left: 10%;

    padding-top: 55%;

}

.director {
    font-family: sans-serif;

    font-size: 20px;
    position: absolute;
    padding-left: 10%;

    padding-top: 65%;

}

.price {
    font-family: sans-serif;

    font-size: 20px;
    position: absolute;
    padding-left: 10%;

    padding-top: 75%;

}

.descriptioncontent {
    width: 70vw;
}

.shortdescription {

    font-family: sans-serif;

    font-size: 20px;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 2%;

}






.content .readmore {
    font-family: sans-serif;
    color: #e6da1f;
    font-size: 20px;
    text-decoration: none;
    padding: 12px;
    border: 1px solid #e6da1f;
    position: absolute;
    bottom: 40px;
    right: 16px;
}

.content .readmore:hover {
    color: #000;
    background: #e6da1f;
}

.appbar {
    width: 100vw;
    height: var(--header-height);
    top: 0;
    left: 0;
}

.appbar,
.menu {
    background: #000;
    padding: 1em;
    position: fixed;
    z-index: 20;
}

.menu {
    top: var(--header-height);
    height: 100vh;
    width: 250px;
    transition: all 0.3s 0.3s;
    color: white;
    font-family: sans-serif;
}

.menu.hidden {
    transform: translateX(-100vw);
}

.menuIcon {
    height: 30px;
    margin-top: 10px;
    margin-left: 12px;
}

.menuIcon rect {
    fill: white;
    transition: all 0.6s;
}

.menuIcon rect:nth-child(1) {
    transform-origin: left top;
}

.menuIcon rect:nth-child(3) {
    transform-origin: left bottom;
}

.menuIcon rect.fadeOut {
    opacity: 0;
}

.menuIcon rect.rotateUp {
    transform: rotate(-45deg) translate(18px, 41px);
}

.menuIcon rect.rotateDown {
    transform: rotate(45deg) translate(17px, -14px);
}

.container-fluid {
    margin-top: 0;
    background-color: #000;
}

#filmlist {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0%;
    margin-right: 0%;
}

#singleFilm {
    transition: all 0.3s;
    transform: translateX(-100vw);
}

#singleFilm.slideInFilm {
    transform: translateX(0)
}


.menu ul a {
    text-decoration: none;
    color: #fff;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: flex;
    padding: 5px;
}

.menu a:hover {
    opacity: .35;
    cursor: pointer;
}

.menu a:active {
    color: #e6da1f;
}



@media (min-width: 1000px) {
    #singleFilm {
        grid-template-columns: 1fr;
    }

}

@media (min-width: 1300px) {
    #singleFilm {
        grid-template-columns: 1fr 1fr;
    }

}

/*TABLET STYLE*/

@media only screen and (max-width:780px) {
    .location {
        font-size: 14px;
        padding-bottom: 10%;
    }

    .genre {
        font-size: 14px;
        padding-bottom: 10%;
    }

    .date {
        font-size: 14px;
        padding-bottom: 10%;
    }
    .weekday {
        font-size: 14px;
        padding-bottom: 10%;
    }

    .time {
        font-size: 14px;
        padding-bottom: 10%;
    }

    .doors {
        font-size: 14px;
        padding-bottom: 10%;

    }
    .director {
        font-size: 14px;
        padding-bottom: 10%;
    }

    .price {
        font-size: 14px;
        padding-bottom: 10%;
    }

    iframe {
        width: 20vw;
        padding-top: 10px;

    }


    .poster {
        width: 100vw;
        height: 40vh;
        display: flex;
    }
}


/*MOBILE STYLE*/

@media only screen and (max-width: 480px) {


    #singleFilm {
        width: 100vw;
        height: auto;
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }


    .poster {
        width: 100vw;
        height: 40vh;
        display: flex;
    }

    .info {

        background-color: #D8EBD2;
        width: 100vw;
        height: 520px;
        position: relative;
        display: flex;
        margin-top: -10vh;
    }


    .descriptioncontent {
        width: 100vw;
        height: auto;
        position: relative;
        margin-top: 20px;

        font-size: 20px;

        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
        padding-bottom: 2%;


    }

    .logo img {
        display: none;

    }

    .info .readmore {
        padding: 5%;
        border: 1px solid #000;
        position: absolute;
        margin-left: 10%;
        margin-top: 85%;

    }

    h1 {
        font-size: 30px;
        margin-top: 70px;

    }

    iframe {
        width: 90vw;
        padding-top: 10px;
    }
}
